{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}
		{% if path == person_create %}
			<input class="btn btn-success btn-lg btn-block" type="submit" value="Create" />
		{% elif path == person_update %}
			<input class="btn btn-success btn-lg btn-block" type="submit" value="Update" />
		{% endif %}
	</form>
	<br />
	{% if path == person_create %}
		<a class="btn btn-primary btn-lg btn-block" href="{% url 'person-list' %}">Cancel</a>
	{% elif path == person_update %}
		<a class="btn btn-primary btn-lg btn-block" href="{% url 'person-detail' object.id %}">Cancel</a>
	{% endif %}
	<br />
{% endblock content %}