{% extends "base.html" %}
{% load static %}
{% block content %}
<table id="person_table" class="table table-hover table-striped" style="width:100%">
	<!-- <caption>List of Persons</caption> -->
	<thead>
		<tr>
			<th>First Name</th>
			<th>Middle Name</th>
			<th>Last Name</th>
			<th>Sex</th>
			<th>Job</th>
			<th>Mobile</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ object.first_name }}</td>
			<td>{{ object.middle_name }}</td>
			<td>{{ object.last_name }}</td>
			<td>
			{% if object.sex == "F" %}
				FeMale
			{% else %}
				Male
			{% endif %}
			</td>
			<td>{{ object.job }}</td>
			<td>{{ object.mobile_one }}, {{ object.mobile_two }}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>First Name</th>
			<th>Middle Name</th>
			<th>Last Name</th>
			<th>Sex</th>
			<th>Job</th>
			<th>Mobile</th>
		</tr>
	</tfoot>
</table>
<a href="{% url 'person-update' object.id %}" class="btn btn-primary btn-lg">Update</a>
<a href="{% url 'person-delete' object.id %}" class="btn btn-danger btn-lg">Delete</a>
{% endblock content %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#person_table').DataTable({
		    	"paging":   false,
		    	"info":     false,
		    	"filter":   false,
		    });
		} );
	</script>
{% endblock script %}