{% extends "base.html" %}
{% block content %}
<h2>Delete Price</h2>
<form method="POST">
	{% csrf_token %}
	<h2>Are You Sure You Want to Delete - {{ object.gold_market_price }} {{ object.gold_bill_price }} ?</h2>
	<br />
	<h5>***Once You Delete Customer there is no way You can Get it Back, So think Twice</h5>
	<br /><br />
	<input class="btn btn-danger btn-lg btn-block" type="submit" value="Delete" />
</form>
<br />

<a class="btn btn-primary btn-lg btn-block" href="{% url 'price-detail' object.id %}">Cancel</a>
{% endblock content %}