{% extends "base.html" %}
{% load static %}
{% block content %}
<table id="price_table" class="table table-hover table-striped" style="width:100%">
	<!-- <caption>List of Persons</caption> -->
	<thead>
		<tr>
			<th>Gold Market Price</th>
			<th>Gold Bill Price</th>
			<th>Gold Old Ornaments Price</th>
			<th>Gold 24, 22, 18 Carat</th>
			<th>Silver Without Bill Price</th>
			<th>Silver With Bill Price</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		{% for price in object_list %}
			<tr>
				<td>{{ price.gold_market_price }}</td>
				<td>{{ price.gold_bill_price }}</td>
				<td>{{ price.gold_old_ornaments_price }}</td>
				<td>
				{{ price.gold_24_carat }} - 
				{{ price.gold_22_carat }} - 
				{{ price.gold_18_carat }}
				</td>
				<td>{{ price.silver_without_bill_price }}</td>
				<td>{{ price.silver_with_bill_price }}</td>
				<td>{{ price.date_added }}</td>
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>Gold Market Price</th>
			<th>Gold Bill Price</th>
			<th>Gold Old Ornaments Price</th>
			<th>Gold 24, 22, 18 Carat</th>
			<th>Silver Without Bill Price</th>
			<th>Silver With Bill Price</th>
			<th>Date</th>
		</tr>
	</tfoot>
</table>
{% endblock content %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#price_table').DataTable({
		    	"pagingType": "full_numbers",
		    	"lengthMenu": [[7, 10, 25, 50, -1], [7, 10, 25, 50, "All"]],
		    	"ordering": false
		    });
		} );
	</script>
{% endblock script %}