{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}
		{% if path == price_create %}
			<input class="btn btn-success btn-lg btn-block" type="submit" value="Create" />
		{% elif path == price_update %}
			<input class="btn btn-success btn-lg btn-block" type="submit" value="Update" />
		{% endif %}
	</form>
	<br />
	{% if path == price_create %}
		<a class="btn btn-primary btn-lg btn-block" href="{% url 'price-list' %}">Cancel</a>
	{% elif path == price_update %}
		<a class="btn btn-primary btn-lg btn-block" href="{% url 'price-detail' object.id %}">Cancel</a>
	{% endif %}
	<br />
{% endblock content %}