{% extends "base.html" %}
{% block content %}
<table id="product_table" class="table table-hover table-striped" style="width:100%">
	<!-- <caption>List of Persons</caption> -->
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Product Type</th>
			<th>Product Category</th>
			<th>Product Weight</th>
			<th>Date Created</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td>{{ product.product_name }}</td>
				<td>{{ product.product_type }}</td>
				<td>{{ product.product_category }}</td>
				<td>{{ product.product_weight }}</td>
				<td>{{ product.date_added }}</td>
			</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>Product Name</th>
			<th>Product Type</th>
			<th>Product Category</th>
			<th>Product Weight</th>
			<th>Date Created</th>
		</tr>
	</tfoot>
</table>
{% endblock content %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#product_table').DataTable({
		    	"paging":   false,
		    	"info":     false,
		    	"filter":   false,
		    });
		} );
	</script>
{% endblock script %}