{% load static %}

{% with path=request.path %}

{% url 'person-create' as person_create %}
{% url 'person-update' object.id as person_update %}
{% url 'person-list' as person_list %}
{% url 'person-detail' object.id as person_detail %}
{% url 'person-delete' object.id as person_delete %}

{% url 'price-create' as price_create %}
{% url 'price-update' object.id as price_update %}
{% url 'price-list' as price_list %}
{% url 'price-detail' object.id as price_detail %}
{% url 'price-delete' object.id as price_delete %}

{% url 'product-create' as product_create %}
{% url 'product-update' object.id as product_update %}
{% url 'product-list' as product_list %}
{% url 'product-detail' object.id as product_detail %}
{% url 'product-delete' object.id as product_delete %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- BootStrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-4.4.1.min.css' %}">
	
	<!-- DataTables CSS for BootStrap4 -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}">

	<link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}" >

	<title>RajLaxmi Jewellers</title>

</head>



<body style="padding-top: 4.5rem;">

	<!-- Navigation Bar -->
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="{% url 'person-create' %}">RajLaxmi Jewellers</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse">

			<ul class="navbar-nav mr-auto">

				{% if path == person_create or path == person_update or path == person_list or path == person_detail or path == person_delete %}
					<li class="nav-item active dropdown">
				{% else %}
					<li class="nav-item dropdown">
				{% endif %}
				    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Person</a>
				    <div class="dropdown-menu">
				        <a class="dropdown-item" href="{{ person_create }}">Create</a>
				        <a class="dropdown-item" href="{{ person_list }}">List</a>
				    </div>
				</li>

				<!-- <li class="nav-item active">
				<li class="nav-item">
					<a class="nav-link" href="#">Create</a>
				</li> -->

				{% if path == price_create or path == price_update or path == price_list or path == price_detail or path == price_delete %}
					<li class="nav-item active dropdown">
				{% else %}
					<li class="nav-item dropdown">
				{% endif %}
				    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Price</a>
				    <div class="dropdown-menu">
				        <a class="dropdown-item" href="{{ price_create }}">Create</a>
				        <a class="dropdown-item" href="{{ price_list }}">List</a>
				    </div>
				</li>

				{% if path == product_create or path == product_update or path == product_list or path == product_detail or path == product_delete %}
					<li class="nav-item active dropdown">
				{% else %}
					<li class="nav-item dropdown">
				{% endif %}
				    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product</a>
				    <div class="dropdown-menu">
				        <a class="dropdown-item" href="{{ product_create }}">Create</a>
				        <a class="dropdown-item" href="{{ product_list }}">List</a>
				    </div>
				</li>

			</ul>

			<form class="form-inline mt-2 mt-md-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>

	<main role="main" class="container">
		{% block content %}
		{% endblock content %}
	</main>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<!-- dataTable.js also available Here -->
	<script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/popper-1.16.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-4.4.1.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

    {% block script %}
    {% endblock script %}

    {% endwith %}
</body>
</html>