{% load static %}
{% url 'price-create' as price_create %}
{% url 'price-list' as price_list %}
{% url 'price-detail' object.id as price_detail %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- BootStrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-4.4.1.min.css' %}">
	
	<!-- DataTables CSS for BootStrap4 -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}">

	<link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}" >

	<title>RajLaxmi Jewellers</title>

</head>



<body style="padding-top: 4.5rem;">
{% with url_name=request.resolver_match.url_name %}

	<!-- Navigation Bar -->
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="{% url 'person-create' %}">RajLaxmi Jewellers</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse">

			<ul class="navbar-nav mr-auto">
				{% if url_name == "person-create" %}
					<li class="nav-item active">
				{% else %}
					<li class="nav-item">
				{% endif %}
						<a class="nav-link" href="{% url 'person-create' %}">Create
							<span class="sr-only">(current)</span>
						</a>
					</li>

				{% if url_name == "person-list" %}
					<li class="nav-item active">
				{% else %}
					<li class="nav-item">
				{% endif %}
					<a class="nav-link" href="{% url 'person-list' %}">List</a>
				</li>

				{% if request.path == price_create or request.path == price_list or request.path == price_detail %}
					<li class="nav-item active dropdown">
				{% else %}
					<li class="nav-item dropdown">
				{% endif %}
				    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Price</a>
				    <div class="dropdown-menu">
				        <a class="dropdown-item" href="{{ price_create }}">Create</a>
				        <a class="dropdown-item" href="{{ price_list }}">List</a>
				    </div>
				</li>

			</ul>

			<form class="form-inline mt-2 mt-md-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>

	<main role="main" class="container">
		{% block content %}
		{% endblock content %}
	</main>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<!-- dataTable.js also available Here -->
	<script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/popper-1.16.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-4.4.1.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

    {% block script %}
    {% endblock script %}

    {% endwith %}
</body>
</html>